@page "/posts"
@using BlazoredDreams.App.Redux
@inherits BlazoredDreams.App.BaseComponents.BaseComponent
<section class="blog-area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="mosh-blog-posts">
                    <PostList/>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="mosh-blog-sidebar">

                    <div class="blog-post-search-widget mb-100">
                        <form action="#">
                            <input type="search" name="search" id="Search">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>

                    <div class="blog-post-archives mb-100">
                        <h5>Archives</h5>
                        <ul>
                            <li><a href="#">March 2018</a></li>
                            <li><a href="#">April 2018</a></li>
                            <li><a href="#">May 2018</a></li>
                        </ul>
                    </div>

                    <div class="blog-post-categories mb-100">
                        <h5>Categories</h5>
                        <ul>
                            <li><a href="#">Entertaiment</a></li>
                            <li><a href="#">Business &amp; Finance</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Creative fields</a></li>
                            <li><a href="#">Lifestyle &amp; Travel</a></li>
                            <li><a href="#">Uncategorized</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@functions
{
    protected override void OnInit()
    {
        Dispatch(new ChangePageInfo
        {
            Title = "Публикации", 
            BreadCrumb = "Публикации"
        });
    }
}
